.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.col-md-3{
  margin-left: 10 !important;
}
body {
  font-family: 'Raleway', sans-serif;
}

.bg-darkgray {
    background-color: #f0f0f0;
}

.banner {
background-size: cover;
background-position: left center;
height: 300px;
position: relative;
resize: vertical;
}

/* tint color for banner */
.banner-content:before {
    content: '';
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    background: rgba(0, 77, 100, .4);
}
.bg-sanur {
  background-size:cover;
}

.banner h1 {
  color: #fff;
  font-size: 2em ;
  font-weight: bold;
  padding: 0;
  margin: 0 0 0 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: none;
  position:relative;
}

.course h2, .left-content h2, .gallery h2, .slideshow h2 {
font-size: 30px;
font-weight: 700;
text-transform: capitalize;
letter-spacing: 1px;
color: #333;
}

.gallery p, .left-content p {
  line-height: 1.5;
  font-size:1.2rem
}

.slides li {
  position:relative;
}
.slides p  {
    width: 100%;
    padding: 2%;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
  position:absolute;
/*   top: 10px; */
  bottom:0;
  left:0;
/*   right:10px; */
  margin-bottom: 0;
}

@media (max-width:756px) {
  .p-3 {
    padding:0!important;
  }
}
.eleven
{
  font-weight: bold;
}
.blogers
{
  font-size: medium!important;
}
.box{
  text-align: center!important;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.image{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.head{
  font-size:x-large!important;
  font-weight: bold;
  font-style: italic;
  background-color: #61dafb;
}
.full{
  background-color: #92967d!important;
}